In this second case study, you'll be analyzing [fuel economy data provided by the EPA](https://www.epa.gov/compliance-and-fuel-economy-data/data-cars-used-testing-fuel-economy), or Environmental Protection Agency.

### What is Fuel Economy?
Excerpt from Wikipedia page on Fuel Economy in Automobiles:

>The fuel economy of an automobile is the fuel efficiency relationship between the distance traveled and the amount of fuel consumed by the vehicle. Consumption can be expressed in terms of volume of fuel to travel a distance, or the distance travelled per unit volume of fuel consumed.


Here are the web pages from this video:

[EPA Fuel Economy Testing](https://www.epa.gov/compliance-and-fuel-economy-data/data-cars-used-testing-fuel-economy)    
[DOE Fuel Economy Data](http://www.fueleconomy.gov/feg/download.shtml)  

Using Documentatation to Understand Data  
Here are the files you saw in the last video. Use them to help you answer the following questions.

[README.txt download link](http://www.fueleconomy.gov/feg/epadata/Readme.txt)  
[PDF link](http://www.fueleconomy.gov/feg/EPAGreenGuide/GreenVehicleGuideDocumentation.pdf)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

For `pd.read_excel()` to work it is important to `pip install xlrd`.

In [2]:
df_18 = pd.read_excel('all_alpha_18.xlsx')
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
2,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,19,27,22,4,No,404
3,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,20,27,23,5,No,390
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV03.5RH3,small SUV,3,19,27,22,4,No,404

In [3]:
# number of elements in the NDFrame
df_18.size

38484

In [4]:
print("Number of columns in dataset : ",df_18.shape[1])

Number of columns in dataset :  18

In [5]:
print("Number of rows in dataset : ",df_18.shape[0])

Number of rows in dataset :  2138

In [6]:
print('Number of duplicate rows : ',sum(df_18.duplicated()))

Number of duplicate rows :  0

In [7]:
print('Datatypes of columns : \n',df_18.dtypes)

Datatypes of columns :
 Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

In [8]:
print('Datatypes of columns : \n',df_18.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2138 entries, 0 to 2137
Data columns (total 18 columns):
Model                   2138 non-null object
Displ                   2132 non-null float64
Cyl                     2132 non-null float64
Trans                   2138 non-null object
Drive                   2138 non-null object
Fuel                    2138 non-null object
Cert Region             2138 non-null object
Stnd                    2138 non-null object
Stnd Description        2138 non-null object
Underhood ID            2138 non-null object
Veh Class               2138 non-null object
Air Pollution Score     2138 non-null int64
City MPG                2138 non-null object
Hwy MPG                 2138 non-null object
Cmb MPG                 2138 non-null object
Greenhouse Gas Score    2138 non-null int64
SmartWay                2138 non-null object
Comb CO2                2138 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 300.7+ KB
Datatypes of columns :
 None

List the features/columns having missing values.

In [9]:
k = df_18.columns
k

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Stnd', 'Stnd Description', 'Underhood ID', 'Veh Class',
       'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay', 'Comb CO2'],
      dtype='object')

In [10]:
print("The features which have the missing value : ")
for i in k:
    if sum(df_18[i].isnull()):
        print(i)

The features which have the missing value :
Displ
Cyl

In [11]:
print("Number of null values in the column 'Displ' are ",sum(df_18['Displ'].isnull()))

Number of null values in the column 'Displ' are  6

In [12]:
print("Number of null values in the column 'Cyl' are ",sum(df_18['Cyl'].isnull()))

Number of null values in the column 'Cyl' are  6

#### number of non-null unique values for features in each dataset :

In [13]:
df_18.nunique()

Model                   499
Displ                    41
Cyl                       8
Trans                    27
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     21
Stnd Description         21
Underhood ID            314
Veh Class                10
Air Pollution Score       6
City MPG                 75
Hwy MPG                  83
Cmb MPG                  76
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                359
dtype: int64

#### what those unique values are and counts for each :

```
df_18['Model'].value_counts() 
```

# 2008

In [14]:
df_08 = pd.read_excel('all_alpha_08.xls')
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [15]:
# number of elements in the NDFrame
df_08.size

43272

In [16]:
#  rows, col
df_08.shape

(2404, 18)

In [17]:
k = sum(df_08.isnull().sum(axis=0)) # rows_with_non-null_values
k

1685

#### rows with missing data = total_rows - number_of_rows_with_non-null_values

In [18]:
df_08.shape[0] - k

719

In [19]:
# duplicate rows in each dataset
sum(df_08.duplicated())

25

In [20]:
# datatypes of columns
df_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

In [21]:
# features with missing values
print("List the features/columns having missing values : ")
for i in df_08.columns:
    if sum(df_08[i].isnull()):
        print(i)

List the features/columns having missing values :
Cyl
Trans
Drive
FE Calc Appr
City MPG
Hwy MPG
Cmb MPG
Unadj Cmb MPG
Greenhouse Gas Score

In [22]:
# number of non-null unique values for features in each dataset
df_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

what those unique values are and counts for each :
`df_08['Model'].value_counts()`

# 18 df

### Drop extraneous columns
Drop features that aren't consistent (not present in both datasets) or aren't relevant to our questions

In [23]:
df_18 = df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1)
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,small car,3,25,35,29,6,No
2,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,small SUV,3,19,27,22,4,No
3,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,small SUV,3,20,27,23,5,No
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,FA,small SUV,3,19,27,22,4,No

# 08 df

In [24]:
df_08 = df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'],axis=1)
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [25]:
# Change the "Sales Area" column label in the 2008 dataset to "Cert Region" for consistency.
# rename Sales Area to Cert Region
df_08.rename(columns = {'Sales Area' : 'Cert Region'}, inplace = True)
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

Rename all column labels to replace spaces with underscores and convert everything to lowercase. (Underscores can be much easier work with in Python than spaces. For example, having spaces wouldn't allow you to use df.column_name instead of df['column_name'] to select columns or use query(). Being consistent with lowercase and underscores also helps make column names easy to remember.)

In [26]:
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [27]:
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No

[Python string strip function](https://www.programiz.com/python-programming/methods/string/strip)
The strip() method returns a copy of the string with both leading and trailing characters removed (based on the string argument passed).

In [28]:
# replace spaces with underscores and lowercase labels for 2008 dataset
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [29]:
# replace spaces with underscores and lowercase labels for 2008 dataset
df_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No

[Python all function](https://www.programiz.com/python-programming/methods/built-in/all) :  
The all() method returns True when all elements in the given iterable are true. If not, it returns False.

In [30]:
# make sure they're all identical like this
(df_08.columns == df_18.columns).all()

True

In [31]:
# confirm column labels for 2008 and 2018 datasets are identical
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True], dtype=bool)

In [32]:
# save new datasets for next section
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)