In [1]:
import pandas as pd
import numpy as np

## Inspecting Data Types
Use the space below to explore `data_08.csv` and `data_18.csv` to answer the quiz questions below regarding datatypes.

In [2]:
# load datasets
df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [3]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 13 columns):
model                   986 non-null object
displ                   986 non-null float64
cyl                     986 non-null object
trans                   986 non-null object
drive                   986 non-null object
fuel                    986 non-null object
veh_class               986 non-null object
air_pollution_score     986 non-null object
city_mpg                986 non-null object
hwy_mpg                 986 non-null object
cmb_mpg                 986 non-null object
greenhouse_gas_score    986 non-null object
smartway                986 non-null object
dtypes: float64(1), object(12)
memory usage: 100.2+ KB

In [4]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 13 columns):
model                   1050 non-null object
displ                   1050 non-null float64
cyl                     1050 non-null float64
trans                   1050 non-null object
drive                   1050 non-null object
fuel                    1050 non-null object
veh_class               1050 non-null object
air_pollution_score     1050 non-null int64
city_mpg                1050 non-null object
hwy_mpg                 1050 non-null object
cmb_mpg                 1050 non-null object
greenhouse_gas_score    1050 non-null int64
smartway                1050 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 106.7+ KB

## Q1
Changes could be made to make the cyl column in both datasets clear and consistent :

In [5]:
df_08.cyl[1:7]

1    (4 cyl)
2    (6 cyl)
3    (6 cyl)
4    (6 cyl)
5    (6 cyl)
6    (4 cyl)
Name: cyl, dtype: object

In [6]:
df_18.cyl[1:7]

1    6.0
2    6.0
3    6.0
4    6.0
5    6.0
6    6.0
Name: cyl, dtype: float64

Changes :
1. Extract int values from the strings in the 2008 cyl columns.
2. Convert float to int in 2018 cyl column.

## Q2
Which of the following changes could be made to make the `air_pollution_score` column in both datasets consistent?

In [7]:
df_08['air_pollution_score'][1:7]

1    7
2    7
3    7
4    7
5    7
6    6
Name: air_pollution_score, dtype: object

In [8]:
df_18['air_pollution_score'][1:7]

1    3
2    3
3    3
4    3
5    3
6    3
Name: air_pollution_score, dtype: int64

Changes:
1. Convert strings to float in 2008 column.
2. Convert ints to float in 2018 column.

## Q3
features need to be converted to floats from strings?

In [14]:
df8 = df_08[['city_mpg', 'hwy_mpg', 'cmb_mpg']]
df8[1:5]

  city_mpg hwy_mpg cmb_mpg
1       17      22      19
2       16      24      19
3       18      26      21
4       17      26      20

In [15]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 3 columns):
city_mpg    986 non-null object
hwy_mpg     986 non-null object
cmb_mpg     986 non-null object
dtypes: object(3)
memory usage: 23.2+ KB

In [16]:
df18 = df_18[['city_mpg', 'hwy_mpg', 'cmb_mpg']]
df18[1:5]

  city_mpg hwy_mpg cmb_mpg
1       19      27      22
2       20      27      23
3       18      26      21
4       19      26      22

In [17]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 3 columns):
city_mpg    1050 non-null object
hwy_mpg     1050 non-null object
cmb_mpg     1050 non-null object
dtypes: object(3)
memory usage: 24.7+ KB

In both dataframes : __ 'city_mpg', 'hwy_mpg', 'cmb_mpg'__ must be converted from strings to float.

## Q4
Which changes need to be made to make the greenhouse_gas_score columns in both datasets consistent?

In [18]:
df_08['greenhouse_gas_score'][1:5]

1    5
2    5
3    6
4    6
Name: greenhouse_gas_score, dtype: object

In [19]:
df_18['greenhouse_gas_score'][1:5]

1    4
2    5
3    4
4    4
Name: greenhouse_gas_score, dtype: int64

Convert strings to ints in 2008 column.