## Filter, Drop Nulls, Dedupe
#### 1. Filter
For consistency, only compare cars certified by California standards. Filter both datasets using query to select only rows where cert_region is CA. Then, drop the cert_region columns, since it will no longer provide any useful information (we'll know every value is 'CA').

#### 2. Drop Nulls
Drop any rows in both datasets that contain missing values.

#### 3. Dedupe
Drop any duplicate rows in both datasets.

In [1]:
import pandas as pd

In [2]:
# load datasets

df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [3]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [4]:
df_08.head(2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no

In [5]:
# view dimensions of dataset
df_18.shape

(2138, 14)

In [6]:
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No

### Filter by Certification Region

In [7]:
# filter datasets for rows following California standards
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')

In [8]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [9]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [10]:
# drop certification region columns form both datasets

df_08 = df_08.drop(['cert_region'], axis=1)
df_18 = df_18.drop(['cert_region'], axis=1)

In [11]:
df_08.shape

(1084, 13)

In [12]:
df_18.shape

(1058, 13)

## Drop Rows with Missing Values

In [13]:
# view missing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [14]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                   0
displ                   3
cyl                     3
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [15]:
# drop rows with any null values in both datasets
df_08.dropna(how = 'any', inplace = True)
df_18.dropna(how = 'any', inplace = True)

In [16]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [17]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

# Dedupe Data

In [18]:
# print number of duplicates in 2008 datasets
sum(df_08.duplicated())

23

In [19]:
# print number of duplicates in 2018 datasets
sum(df_18.duplicated())

5

In [20]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [21]:
# print number of duplicates again to confirm dedupe - should both be 0
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

0
0

In [22]:
# save progress for the next section
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)