In [1]:
import pandas as pd

In [2]:
# load datasets
df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

### Fixing Data Types
In the next three sections, you'll make the following changes to make the datatypes consistent and practical to work with.

### Fix cyl datatype
2008: extract int from string.  
2018: convert float to int.  
### Fix air_pollution_score datatype
2008: convert string to float.  
2018: convert int to float.  
### Fix city_mpg, hwy_mpg, cmb_mpg datatypes
2008 and 2018: convert string to float.  
### Fix greenhouse_gas_score datatype
2008: convert from float to int.

# Fixing `cyl` Data Type
- 2008: extract int from string
- 2018: convert float to int

In [3]:
# check value counts for the 2008 cyl column
df_08['cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

Read [this](https://stackoverflow.com/questions/35376387/extract-int-from-string-in-pandas) to help you extract ints from strings in Pandas for the next step.

[pandas.Series.str.extract](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html)

In [4]:
# Trial
a = df_08['cyl'].str.extract('(\d+)', expand=False).astype(int)
a[1:8]

1    4
2    6
3    6
4    6
5    6
6    4
7    4
Name: cyl, dtype: int32

In [5]:
# Extract int from strings in the 2008 cyl column
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)', expand=False).astype(int)

In [6]:
# Check value counts for 2008 cyl column again to confirm the change
df_18['cyl'].value_counts()

4.0     497
6.0     322
8.0     179
3.0      21
12.0     20
10.0      8
5.0       2
16.0      1
Name: cyl, dtype: int64

In [7]:
# Convert float to int in 2018 column
df_18['cyl'] = df_18['cyl'].astype(int)

In [8]:
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)