# Sets

Sets are collections of unique elememts without any ordering. Every element in set is immutable.  But set is mutable i.e., we can add or remove data from it.

Set created by using curly brackets {} or by using built-in function set().

## To create a set.

In [1]:
# Creating set
a = {1,5,7,9,1,2,3,5,2}
print('a : ',a)
print('Type of a is ',type(a))

# Converting a list having repetitive elements into a set
countries = ['India','US', 'Spain','India','US','Germany','Spain','India']
countries_set = set(countries)
print('countries_set : ',countries_set)

a :  {1, 2, 3, 5, 7, 9}
Type of a is  <class 'set'>
countries_set :  {'Germany', 'India', 'Spain', 'US'}

## To create an empty set
a = set() will create an empty set.

b = {} will create an empty dictionary.

In [2]:
a = set()
print('a : ',a)
print(type(a))

a :  set()
<class 'set'>

In [3]:
b = {}
print('b : ',b)
print(type(b))

b :  {}
<class 'dict'>

## Elements of a set 
Elements of a must be immutable(eg : int,float,string,tuples) and it can't include mutable elements such as list,set or dictionary. 

But sets themselves are mutable and __as they are unordered, indexing and slicing is not possible.__

## To add or remove elements from a set.

To add a single element to a set use __add()__ method and to add multiple elements to a set use __update()__ method.

In [4]:
# To add a single element
set1 = {2,7,8,1,0,3}
set1.add(99)
set1

{0, 1, 2, 3, 7, 8, 99}

In [5]:
# To add multiple elements to a set. 
# Observe: Repetition doen't happen
set1.update([2,5,8,100,77])
set1

{0, 1, 2, 3, 5, 7, 8, 77, 99, 100}

In [6]:
# Adding elements of a list or set or dictionary to a set. 
set1.update(['a','d'],{1000,'xyz'})
set1

{0, 1, 2, 3, 99, 5, 100, 7, 8, 'd', 1000, 77, 'xyz', 'a'}

## To check if an element is present in a set.
__in__ keyword is used to check the presence of an element in a given set.

In [7]:
'd' in set1

True

In [8]:
'mj' not in set1

True

In [9]:
99 not in set1

False

In [10]:
0 in set1

True

## To remove an element from a set .
To remove a particlar element use __discard()__ or __remove()__ method.

When __discard()__ is used on a particular set and if the element to be deleted is not present in the set then it will throw an error. But __remove()__ won't cause such problems.

In [11]:
# Using discard() to remove element 'xyz' from set1.
set1.discard('xyz')
set1

{0, 1, 2, 3, 99, 5, 100, 7, 8, 'd', 1000, 77, 'a'}

In [12]:
# Using remove() to remove element 1000 from set1.
set1.remove(1000)
set1

{0, 1, 2, 3, 99, 5, 100, 7, 8, 'd', 77, 'a'}

## To remove elements from the given set.

__pop()__ method is used to remove any random element from the given set.

__clear()__ method is used to remove all elements of a set.

In [13]:
set1.pop()

0

In [14]:
# Element 0 is removed from set1.
# So to check the resulting set.
set1

{1, 2, 3, 99, 5, 100, 7, 8, 'd', 77, 'a'}

In [15]:
set1.pop()
# Again one element is poped from the given set. So the resulting set
print(set1)

{2, 3, 99, 5, 100, 7, 8, 'd', 77, 'a'}

In [16]:
# Now to remove all elements of a set.
set1.clear()

In [17]:
set1

set()

In [18]:
len(set1)

0

So, the set1 is empty now.