In [1]:
from bs4 import BeautifulSoup
from pprint import pprint

In [2]:
soup = BeautifulSoup(open("virgin_and_logan_airport.html"),'lxml')   
print(type(soup))

<class 'bs4.BeautifulSoup'>

## Q1. To print list of all carriers.

In [3]:
carrier_list = soup.find(id = "CarrierList")
print(type(carrier_list))
carrier_list

<class 'bs4.element.Tag'>

<select class="slcBox" id="CarrierList" name="CarrierList" style="width:450px;">
<option selected="selected" value="All">All U.S. and Foreign Carriers</option>
<option value="AllUS">All U.S. Carriers</option>
<option value="AllForeign">All Foreign Carriers</option>
<option value="AS">Alaska Airlines </option>
<option value="G4">Allegiant Air</option>
<option value="AA">American Airlines </option>
<option value="5Y">Atlas Air </option>
<option value="DL">Delta Air Lines </option>
<option value="MQ">Envoy Air</option>
<option value="EV">ExpressJet Airlines </option>
<option value="F9">Frontier Airlines </option>
<option value="HA">Hawaiian Airlines </option>
<option value="B6">JetBlue Airways</option>
<option value="OO">SkyWest Airlines </option>
<option value="WN">Southwest Airlines </option>
<option value="NK">Spirit Air Lines</option>
<option value="UA">United Air Lines </option>
<option value="VX">Virgin America</option>
</select>

In [4]:
carrier_names = []
for carriers in carrier_list.find_all('option'):
    carrier_names.append(carriers['value'])
    
carrier_names = carrier_names[3:]
print("List of carriers : ",carrier_names)
print("Total number of carriers : ",len(carrier_names))

List of carriers :  ['AS', 'G4', 'AA', '5Y', 'DL', 'MQ', 'EV', 'F9', 'HA', 'B6', 'OO', 'WN', 'NK', 'UA', 'VX']
Total number of carriers :  15

## Q2. To print list of all airports.

In [5]:
airport_list = soup.find(id="AirportList")

In [6]:
airport_list.find('option')  # If we use .find() only first value of option will be taken

In [7]:
airport_names = []
for airports in airport_list.find_all('option'):  # .find_all() will find and return all values of 'option'
    if "All" not in airports['value']:
        airport_names.append(airports['value'])

#print("List of airports : ",airport_names)
print("Total number of airports : ",len(airport_names))

Total number of airports :  1206

# Q3. Processing all

The table with flight info has a table __class="dataTDRight"__. Extracts data from the file in a list of dictionaries. 

Example of the data structure you should
    return:

    data = [{"courier": "FL",
             "airport": "ATL",
             "year": 2012,
             "month": 12,
             "flights": {"domestic": 100,
                         "international": 100}
            },
            {"courier": "..."}
    ]


    Note - year, month, and the flight data should be integers.
    You should skip the rows that contain the TOTAL data for a year.

In [28]:
data =[]

In [9]:
soup = BeautifulSoup(open("Question3.html"),'lxml')

In [23]:
table = soup.find(id = "DataGrid1")

In [73]:
#i = 0
data = []
for rows_data in table.find_all('tr'):
        info = {
        
        "courier" : "",
        "airport" : "",
        "year"    : 0,
        "month"   : 0,
        "flights" : { "domestics" : 0 , "international" : 0 }    
        }
        
        #print(rows_data)
        td_list = []
        for req_data in rows_data.find_all('td'):
            #print(req_data.text)
            td_list.append(req_data.text)
            
            
            
            #print(req_data.text)
            #td_list.append(int(req_data.text))
            #print(td_list)
            
            #info["year"] = int(req_data.text)
            #info["month"] = int(req_data.text)
            #
            #info["flights"]["international"] = int(req_data.text)
            #print(req_data.text)
            #print(type(req_data.text))
            #print(info)
        #i+=1
        if td_list[1] == 'Month' or td_list[1] == 'TOTAL':
            continue
        #print(td_list)
        info["year"] = int(td_list[0])
        info["month"] = int(td_list[1])
        info["flights"]["domestics"] = int(td_list[2].replace(',',''))
        info["flights"]["international"] = int(td_list[3].replace(',',''))
        #print(info)
        #print('\n')
        data.append(info)
        
        
       # if i>=5:
       #     break

In [75]:
len(data)

15

In [74]:
data[0]["courier"]

''

In [68]:
k = '92,565'
k = k.replace(',','')
k

'92565'

In [69]:
j = int(k)
j

92565