# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [1]:
# imports and load data
import pandas as pd
%matplotlib inline
df = pd.read_csv('store_data.csv')

In [2]:
# explore data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null object
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [3]:
df.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [4]:
df['week'] = pd.to_datetime(df['week'])
df = df.set_index('week')

In [5]:
df.head()

            storeA  storeB  storeC  storeD  storeE
week
2014-05-04    2643    8257    3893    6231    1294
2014-05-11    6444    5736    5634    7092    2907
2014-05-18    9646    2552    4253    5447    4736
2014-05-25    5960   10740    8264    6063     949
2014-06-01    7412    7374    3208    3985    3023

In [6]:
df.tail()

            storeA  storeB  storeC  storeD  storeE
week
2018-01-28     282    6351    7759    5558    1028
2018-02-04    4853    6503    4187    5956    1458
2018-02-11    9202    3677    4540    6186     243
2018-02-18    3512    7511    4151    5596    3501
2018-02-25    7560    6904    3569    5045    2585

In [7]:
# total sales for the last month
df.loc['2018-02-04':,:].sum()

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64

In [8]:
# average sales
df.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [9]:
# sales on march 13, 2016
df.loc['2016-03-13']

storeA    2054
storeB    1390
storeC    5112
storeD    5513
storeE    2536
Name: 2016-03-13 00:00:00, dtype: int64

In [10]:
# worst week for store C
df[df['storeC']==df['storeC'].min()]

            storeA  storeB  storeC  storeD  storeE
week
2014-07-06    8567    3228     927    3277     168

In [11]:
# total sales during most recent 3 month period
last_3_months_df = df.loc['2017-12-01':,:]
last_3_months_df.resample('M').sum()

            storeA  storeB  storeC  storeD  storeE
week
2017-12-31   40688   29151   30198   28422    8509
2018-01-31   21776   25648   19893   23985   11038
2018-02-28   25127   24595   16447   22783    7787

In [12]:
last_3_months_df.sum()

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64